*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Inicio Fondo*/
.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container::before {
  content:'';
  background: #000000;
  background-color: #000000;
  background-image: url(../../../img/Bandera.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0.35;
}

.nav-main{
    position: absolute;
}
/* Final Fondo*/

/* Inicio titulo*/
h1{
    -webkit-text-stroke-width: 1px; /* Grosor del borde */
    -webkit-text-stroke-color: black; /* Color del borde */
    font-size: 60px;
    text-align: center;
    font-family: sans-serif;
    color: black;
    margin-top: -300px;
}
/* Final titulo*/

/* Inicio menu*/
.menu{
    background-size: 100% 100%;
    display: flex;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 0px;
    position: absolute;
    margin-top: 500px;
    margin-left: 50px;
}

.MENU3{
    position: absolute;
    float: left;
    margin-left: -400px;
    margin-top: -50px;
}

.MENU2{
    float: left;
    margin-left: -400px;
}

.MENU1 {
    float: right;
    margin-left: 1000px;
}

.MENU4 {
    position: absolute;
    float: right;
    margin-left: 730px;
    margin-top: -49px;
}

nav ul {
    float: right;
    list-style: none;
}   

nav ul li a{
    font-size: 20px;
    text-align: center;
    display: block;
    color: #000000;
    text-decoration: none;
    width: 130px; /* Ancho del menú */
    height: 45px;
    background-color: rgba(251, 255, 6, 0.541); /* Color de fondo */
    border: 2px solid #000; /* 🔹 Borde visible */
    border-radius: 15px; /* 🔹 Bordes redondeados */
}
  
nav li {
    border-bottom: 1px solid #ddd; /* Línea separadora */
    border-radius: 5px;
}
  
nav li:last-child {
    border-bottom: black; /* Sin borde en el último elemento */
}

nav a {
    display: block; /* Para que ocupe todo el ancho y sea clicable */
    padding: 10px 15px; /* Espaciado interno */
    text-decoration: none; /* Elimina el subrayado */
    color: #333; /* Color del texto */
    text-align: none;
}

nav a:hover {
    background-color: #ffe6008a; /* Color de fondo al pasar el mouse */
    color: #ff0000; /* Color del texto al pasar el mouse */
    border-color: rgba(0, 110, 255, 0.644);
  }
/* final menu*/

/* Inicio texto*/
.texto{
    position: absolute;
    display: flex;
}

.text1{
    font-size: 20px;
    margin-left: -260px;
    margin-top: 280px;
    width: 1000px;
}

.text2{
    font-size: 20px;
    margin-left: -300px;
    margin-top: 380px;
    width: 400px;
}

.text3{
    position: absolute;
    font-size: 20px;
    margin-left: -230px;
    margin-top: 390px;
    width: 400px;
}
/* Final texto*/

/* Inicio Muñeco*/
.img1{
    width: 70%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -280px;
    margin-top: 20px;
}

.img2{
    width: 35%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 500px;
    margin-top: 20px;
}

.img3{
    width: 15%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: 550px;
    margin-top: 290px;
}

.img4{
    width: 15%;
    height: auto;
    display: flex;
    position: absolute;
    align-items: center;
    margin-left: -140px;
    margin-top: 310px;
}
/* Final Muñeco*/
